<div class="page-header">
  <h3>Shop #<%= @shop.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>City</dt>
      <dd>
        <% if @shop.city.present? %>
          <a href="/cities/<%= @shop.city_id %>">
            <%= @shop.city.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Preference</dt>
      <dd>
        <% if @shop.preference.present? %>
          <a href="/preferences/<%= @shop.preference_id %>">
            <%= @shop.preference.taste %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/shops" class="btn btn-primary">
        Back
      </a>
      <a href="/shops/<%= @shop.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_shop/<%= @shop.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
