<div class="page-header">
  <h1>
    Routes
    <a href="/routes/new" class="btn btn-lg btn-success">New Route</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>City</th>
        <th>Preference</th>
        <th>Actions</th>
      </tr>

      <% @routes.each do |route| %>
      <tr>
        <td>
          <% if route.city.present? %>
            <a href="/cities/<%= route.city.id %>">
              <%= route.city.name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if route.preference.present? %>
            <a href="/preferences/<%= route.preference.id %>">
              <%= route.preference.id %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/routes/<%= route.id %>" class="btn btn-primary">Show</a>
          <a href="/routes/<%= route.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_route/<%= route.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @routes, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
