<div class="page-header">
  <h3>Route #<%= @route.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>City</dt>
      <dd>
        <% if @route.city.present? %>
        <a href="/cities/<%= @route.city_id %>">
          <%= @route.city.name %>
        </a>
        <% end %>
      </dd>

      <dt>Preference</dt>
      <dd>
        <% if @route.preference.present? %>
        <a href="/preferences/<%= @route.preference_id %>">
          <%= @route.preference.id %>
        </a>
        <% end %>
      </dd>

      <dt>Taste</dt>
      <dd>
        <% if @route.preference.present? %>
        <a href="/preferences/<%= @route.preference_id %>">
          <%= @route.preference.taste %>
        </a>
        <% end %>
      </dd>

      <dt>Style</dt>
      <dd>
        <% if @route.preference.present? %>
        <a href="/preferences/<%= @route.preference_id %>">
          <%= @route.preference.style %>
        </a>
        <% end %>
      </dd>

      <dt>Gender</dt>
      <dd>
        <% if @route.preference.present? %>
        <a href="/preferences/<%= @route.preference_id %>">
          <%= @route.preference.gender %>
        </a>
        <% end %>
      </dd>

    </dl>

    <div>
      <a href="/routes" class="btn btn-primary btn-block">
        Back
      </a>
    </div>
  </div>
</div>

<div>
  <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDqaq9-EBexFNuhZwpgM8YO08mytn9lO08&origin=place_id:<%= @route.preference.shops.first.place_id%>&waypoints=place_id:<%= @route.preference.shops.second.place_id%>|place_id:<%= @route.preference.restaurants.first.place_id%>&destination=place_id:<%= @route.preference.shops.third.place_id%>" allowfullscreen>
  </iframe>
</div>
