<div class="page-header">
  <h3>City #<%= @city.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cities" class="btn btn-primary">
        Back
      </a>
      <a href="/cities/<%= @city.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_city/<%= @city.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A City has many shops -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Shops
      </li>

      <% @city.shops.each do |shop| %>
        <li class="list-group-item">
          <a href="/shops/<%= shop.id %>">
            <%= shop.city_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/shops/<%= shop.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/shops/<%= shop.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_shop/<%= shop.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_shop" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for city_id -->
      <input type="hidden" name="city_id" value="<%= @city.id %>">

      <!-- Label and input for preference_id -->
      <div class="form-group">
        <label for="preference_id" class="control-label">
          Preference
        </label>

        <%= select_tag(:preference_id, options_from_collection_for_select(Preference.all, :id, :taste), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Shop
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A City has many restaurants -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Restaurants
      </li>

      <% @city.restaurants.each do |restaurant| %>
        <li class="list-group-item">
          <a href="/restaurants/<%= restaurant.id %>">
            <%= restaurant.city_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/restaurants/<%= restaurant.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/restaurants/<%= restaurant.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_restaurant/<%= restaurant.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_restaurant" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for city_id -->
      <input type="hidden" name="city_id" value="<%= @city.id %>">

      <!-- Label and input for preference_id -->
      <div class="form-group">
        <label for="preference_id" class="control-label">
          Preference
        </label>

        <%= select_tag(:preference_id, options_from_collection_for_select(Preference.all, :id, :taste), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Restaurant
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A City has many routes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Routes
      </li>

      <% @city.routes.each do |route| %>
        <li class="list-group-item">
          <a href="/routes/<%= route.id %>">
            <%= route.city_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/routes/<%= route.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/routes/<%= route.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_route/<%= route.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_route" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for city_id -->
      <input type="hidden" name="city_id" value="<%= @city.id %>">

      <!-- Label and input for preference_id -->
      <div class="form-group">
        <label for="preference_id" class="control-label">
          Preference
        </label>

        <%= select_tag(:preference_id, options_from_collection_for_select(Preference.all, :id, :taste), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Route
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
